name: Generate DECK.md

on:
  push:
    paths:
      - '.pm/**'

permissions: # Add permissions here at the workflow level
  contents: write

jobs:
  commit-file:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Step 2: Set up Bash
      - name: Set up Bash
        shell: bash
        run: echo "Bash is set up" # This line ensures `run` is present

      # Step 3: Run the script
      - name: Run Script
        run: |
          chmod +x .github/scripts/git-deck-tools.sh
          ./.github/scripts/git-deck-tools.sh generate-markdown

      # Step 4: Configure Git
      - name: Configure git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      # Step 5: Commit and push changes
      - name: Commit changes
        run: |
          git add DECK.md
          git commit -m "UPDATE DECK.md auto-generated by gh-actions."
          git push origin main # Change to the branch you want to push to
