name: Generate Deck

on:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install yq
        run: |
          sudo apt-get update
          sudo apt-get install -y jq yq

      - name: Generate Deck
        run: |
          bash generate-deck.sh
          if [ $? -ne 0 ]; then
            echo "Script failed";
          exit 1;
          fi
