# generate-deck.yml
name: Generate Deck

on:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install yq
        run: |
          sudo apt-get update
          sudo apt-get install -y jq yq

      - name: Generate Deck
        run: |
          for file in $(git ls-files | grep DECK.md); do
            yaml_file="${file%.md}.yaml"

            if [ -f "$yaml_file" ]; then
              title=$(grep -m 1 "^>###.*" "$file" | sed -e 's/^>###//; s/ .*//')
              if [ -z "$title" ]; then
                title=$(grep -m 1 "^##.*" "$file" | sed -e 's/^##//; s/ .*//')
              fi
              if [ -z "$title" ]; then
                title=$(grep -m 1 "^#.*" "$file" | sed -e 's/^#//; s/ .*//')
              fi

              prefix=$(yq e '.prefix' "$yaml_file")
              status=$(yq e '.status' "$yaml_file")

              case $status in
                NOT\ STARTED)
                  color="lightgrey"
                  ;;
                ONGOING)
                  color="yellow"
                  ;;
                DONE)
                  color="brightgreen"
                  ;;
                *)
                  color="gray"
                  ;;
              esac

              title_line="$prefix $title"

              echo "$title_line ![status](https://img.shields.io/badge/status-$status-$color)
<details $(if [ \"$status\" = \"ONGOING\" ]; then echo \"open\"; fi)>
  <summary>Details</summary>
  <!-- your content here -->
</details>" > temp.md

              cat temp.md > "$file"
              rm temp.md
            fi
          done
